.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
.features h2{
  color: #D0BFFF;
  font-weight: bolder;
}
.features p {
  color: #E3651D;
  font-weight: bold;
}
.featureSvg {
  height: 200px;
  width: 200px;
}
